{% extends "AppTienda/base.html" %}
{% load widget_tweaks %}
{% load static %}   
{% load bootstrap4 %}
{% bootstrap_css %}


{% block content %}  

    <h6 class="addproduct"> Add product. </h6>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group" style="width: 60%; margin:auto;">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% if messages %}
                  {% for m in messages %}
                    <script>
                        Swal.fire({
                          "title":"Message",
                          "text":"{{m}}",
                          "icon":"success",
                        })
                    </script>   
                  {% endfor %}
                {% endif %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

            <div class="form-group">
                <button type="submit" class="btn btn-success" style="margin-top: 15px">
                <span class="glyphicon glyphicon-ok"></span> Save
                </button>
            </div>
    </form>

{% endblock %}
{% bootstrap_javascript jquery='full' %}
